<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- todo insert google analytics -->
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <!-- ==== Accessibility -->
    <!-- ==== Navigation -->
    {% include header.html %}
    {% include custom-head.html %}
    <!-- {% include navigation.html %} -->
    <!-- ==== Content -->
    {{ content }}
    <!-- ==== Footer -->
    <!-- disc {% include footer.html %} -->
    <!-- ==== Blackout -->
    <!-- == Slider -->
  </body>
</html>